<div class="user-container box-wrap">
  <div class="user-form box">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <legend>Edit your account</legend>

      <div class='control-group'>
        <%= f.label :name, class: 'control-label' %>
        <div class='controls'>
          <%= f.text_field :name, :class => 'span5' %>
        </div>
      </div>

      <div class='control-group'>
        <%= f.label :password, class: 'control-label' %>
        <i>(leave blank if you don't want to change it)</i>
        <div class='controls'>
          <%= f.password_field :password, :autocomplete => "off", :class => 'span5' %>
        </div>
      </div>

      <div class='control-group'>
        <%= f.label :confirm_password, class: 'control-label' %>
        <div class='controls'>
          <%= f.password_field :password_confirmation, :class => 'span5' %>
        </div>
      </div>

      <div class='control-group'>
        <%= f.label :current_password, class: 'control-label' %> 
        <i>(we need your current password to confirm your changes)</i><br />
        <div class='controls'>
          <%= f.password_field :current_password %>
        </div>
      </div>

      <div class='control-group'>
        <div class='controls'>
          <% if current_user.cancel_request %>
            <%= f.submit "Update", class: 'btn', disabled: 'disabled' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="cancel-bid">Your cancel request is pending.</span>
          <% else %>
            <%= f.submit "Update", class: 'btn' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#cancel-user" class="cancel-req" data-toggle="modal">Request to delete account</a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="cancel-user" class="cancel-dlg modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Cancel Request</h3>
  </div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.hidden_field :cancel_request, {:value => true} %>

    <div class='control-group'>
      <%= f.label :reason_for_canceling_account, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_area :cancel_reason, :class => 'span5' %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :current_password, class: 'control-label' %>
      <div class='controls'>
        <%= f.password_field :current_password, :autocomplete => "off", :class => 'span5' %>
      </div>
    </div>

    <%= f.submit "Submit request", class: 'btn btn-inverse' %>
    <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
  <% end %>
</div>
