<div class="plans-container box-wrap">
  <div class="plans box">
    <h2>Plans & Pricing</h2>
    <div class="current-plans clearfix">
      <h3>Your Current Plan(s)</h3>
      <div class="plan-box buyer pull-left">
        <h4>Buyer: <%= @buyer_plan[:name] %></h4>
        <p class="price">$<strong><%= @buyer_plan[:price] %></strong><em>/mo.</em></p>
        <ul class="capabilities">
        <% @buyer_plan[:features].each do |f| %>
          <li><%= f %></li>
        <% end %>
        </ul>
        <% if @buyer_type > 0 %>
        <p class="actions"><a href="<%= users_deactivate_path + '?buyer_type=' + @buyer_type.to_s %>" class="btn deactivate">Deactivate</a></p>
        <% end %>
      </div>
      <div class="plan-box seller pull-left">
        <h4>Seller: <%= @seller_plan[:name] %></h4>
        <p class="price">$<strong><%= @seller_plan[:price] %></strong><em>/mo.</em></p>
        <ul class="capabilities">
        <% @buyer_plan[:features].each do |f| %>
          <li><%= f %></li>
        <% end %>
        </ul>
        <% if @seller_type > 0 %>
        <p class="actions"><a href="<%= users_deactivate_path + '?seller_type=' + @seller_type.to_s %>" class="btn deactivate">Deactivate</a></p>
        <% end %>
      </div>
      <div class="plan-box billing pull-right">
        <h4>Billing Info</h4>
          <p class="curr-fee">
          Current monthly fee: <strong>$<%= @buyer_plan[:price] + @seller_plan[:price] %>/mo</strong>
          </p>
        <% if not @no_billing %>
          <!--
          <p class="card"><strong>American Express</strong> ending in <strong>1018</strong></p>
          -->
          <p class="card"><img src="http://pics.ebaystatic.com/aw/pics/logos/logoPayPal_51x14.gif" alt="PayPal"> <strong><%= @billing.paypal %></strong></p>
          <!--
          <p class="actions"><a href="#" class="btn change-billing">Change Billing Info</a></p>
          -->
        <% else %>
          <p>You have no billing information right now.</p>
        <% end %>
      </div>
    </div>
    <div class="buyer-plans clearfix">
      <h3>Buyer Plans</h3>
      <% (1..3).each do |i| %>
        <% p = @buyer_plans[i] %>
        <div class="plan-box buyer-plan pull-left">
          <h4><%= p[:name] %></h4>
          <p class="price">$<strong><%= p[:price] %></strong><em>/mo.</em></p>
          <ul class="capabilities">
            <% p[:features].each do |f| %>
              <li><%= f %></li>
            <% end %>
          </ul>
          <p class="actions">
          <a href="#billing" class="btn activate" data-toggle="modal"
            data-btype="<%= i %>" data-name="<%= p[:name] %>">Activate</a>
          </p>
        </div>
      <% end %>
    </div>
    <div class="seller-plans clearfix">
      <h3>Seller Plans</h3>
      <% (1..3).each do |i| %>
        <% p = @seller_plans[i] %>
        <div class="plan-box seller-plan pull-left">
          <h4><%= p[:name] %></h4>
          <p class="price">$<strong><%= p[:price] %></strong><em>/mo.</em></p>
          <ul class="capabilities">
            <% p[:features].each do |f| %>
              <li><%= f %></li>
            <% end %>
          </ul>
          <p class="actions">
          <a href="#billing" class="btn activate" data-toggle="modal"
            data-stype="<%= i %>" data-name="<%= p[:name] %>">Activate</a>
          </p>
        </div>
      <% end %>
    </div>
    <!--
    <div class="billing">
      <h3>Your Billing Information</h3>
    </div>
    -->
  </div>
</div>
<%= render 'shared/billing_form' %>

