<div class="user-container">
  <div class="user-detail box">
    <div class="user-public">
      <div class="user-basic">
        <h3><%= @user.name %></h3>
        <div class="user-info">
          <table class="table">
            <tbody>
              <% if current_user && current_user.id.to_s == params[:id] %>
              <tr>
                <th class="">Email</th>
                <td class=""><%= @user.email %></td>
              </tr>
              <% end %>
              <tr>
                <th class="">Member Since</th>
                <td class=""><%= @user.created_at.to_date.to_s %></td>
              </tr>
              <tr>
                <th class="">Buyer Type</th>
                <td class=""><%= @buyer_type.to_s.titleize %></td>
              </tr>
              <tr>
                <th class="">Seller Type</th>
                <td class=""><%= @seller_type.to_s.titleize %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="user-rating">
        <h3>User Ratings</h3>
        <div class="well">
          User ratings go here.
        </div>
      </div>
    </div>
    <% if current_user && current_user.id.to_s == params[:id] %>
      <div class="user-private">
        <div class="user-bids">
          <h3>Bids</h3>
          <%= render 'users/bid_list' %>
        </div>
        <div class="user-transactions">
          <h3>Transactions</h3>
          <%= render 'users/transaction_list' %>
        </div>
        <div class="user-account-action">
          <%= link_to "Edit account", edit_user_registration_path(current_user), :class => 'btn', :method => :get %>
        </div>
      </div>
    <% end %>
  </div>
</div>
