<div class="featured">
  <div class="container">
    <div class="slide box">
      <h2 class="slide-title">Hot Items</h2>
      <div class="slide-content">
        <ul class="itemlist clearfix">
          <li class="item">
          <a href="#" title="View item">
            <div class="item-img">
              <img src="<%= asset_path "missing.png" %>" alt="">
            </div>
            <div class="item-info">
              <p class="name">Item Name Item Name Item Name Item Name </p>
              <p class="price">$123.45</p>
            </div>
          </a>
          </li>
          <li class="item">
          <a href="#" title="View item">
            <div class="item-img">
              <img src="<%= asset_path "missing.png" %>" alt="">
            </div>
            <div class="item-info">
              <p class="name">Item Name Item Name Item Name Item Name </p>
              <p class="price">$123.45</p>
            </div>
          </a>
          </li>
          <li class="item">
          <a href="#" title="View item">
            <div class="item-img">
              <img src="<%= asset_path "missing.png" %>" alt="">
            </div>
            <div class="item-info">
              <p class="name">Item Name </p>
              <p class="price">$123.45</p>
            </div>
          </a>
          </li>
          <li class="item">
          <a href="#" title="View item">
            <div class="item-img">
              <img src="<%= asset_path "missing.png" %>" alt="">
            </div>
            <div class="item-info">
              <p class="name">Item Name </p>
              <p class="price">$123.45</p>
            </div>
          </a>
          </li>
          <li class="item">
          <a href="#" title="View item">
            <div class="item-img">
              <img src="<%= asset_path "missing.png" %>" alt="">
            </div>
            <div class="item-info">
              <p class="name">Item Name </p>
              <p class="price">$123.45</p>
            </div>
          </a>
          </li>
          <li class="item">
          <a href="#" title="View item">
            <div class="item-img">
              <img src="<%= asset_path "missing.png" %>" alt="">
            </div>
            <div class="item-info">
              <p class="name">Item Name </p>
              <p class="price">$123.45</p>
            </div>
          </a>
          </li>
          <li class="item">
          <a href="#" title="View item">
            <div class="item-img">
              <img src="<%= asset_path "missing.png" %>" alt="">
            </div>
            <div class="item-info">
              <p class="name">Item Name</p>
              <p class="price">$1234.56</p>
            </div>
          </a>
          </li>
        </ul>
      </div>
      <div class="clearfix">
        <div class="slide-control">
          <a href="#" class="control"></a>
          <a href="#" class="control active"></a>
          <a href="#" class="control"></a>
          <a href="#" class="control"></a>
          <a href="#" class="control"></a>
        </div>
      </div>
      <a href="#" class="goto prev">&nbsp;</a>
      <a href="#" class="goto next">&nbsp;</a>
    </div>
  </div>
</div>

<!--
<div class="info row-fluid">
  <div class="container">
    <div class="span3">
      <h3>How To Buy</h3>
      <div class="info-content">
        <p>test test test </p>
        <p>test test test </p>
        <p>test test test </p>
        <p>test test test </p>
        <p>test test test </p>
      </div>
    </div>
    <div class="span1"></div>
    <div class="span3">
      <h3>How To Sell</h3>
      <div class="info-content">
        <p>test test test </p>
        <p>test test test </p>
        <p>test test test </p>
      </div>
    </div>
    <div class="span1"></div>
    <div class="span4">
      <h3>About Maccha</h3>
      <div class="info-content">
        <p>test test test </p>
        <p>test test test </p>
        <p>test test test </p>
        <p>test test test </p>
      </div>
    </div>
  </div>
</div>
-->


