<div class="home box">
  <div class="promoted row-fluid">
    <div id="featured-items" class="carousel slide span8">
      <div class="carousel-inner">
        <div class="active item clearfix">
          <a href="#url" title="">
            <div class="image">
              <img src="<%= asset_path "fake-item-1.jpg" %>" alt="">
            </div>
            <div class="desc">
              <h4>XBOX 360</h4>
              <p>The Xbox 360 is great for playing games. But if you're one of those people who likes watching movies, listening to music, watching live TV, playing games with people all over the world, and doing it all with the sound of your voice, then...</p>
            </div>
          </a>
        </div>
        <div class="item clearfix">
          <a href="#url" title="">
            <div class="image">
              <img src="<%= asset_path "fake-item-2.jpg" %>" alt="">
            </div>
            <div class="desc">
              <h4>Apple iPhone 5</h4>
              <p>It's so thin and so light, yet iPhone 5 features a larger display, a faster chip, the latest wireless technology, an 8MP iSight camera, and more.</p>
            </div>
          </a>
        </div>
        <div class="item clearfix">
          <a href="#url" title="">
            <div class="image">
              <img src="<%= asset_path "fake-item-3.jpg" %>" alt="">
            </div>
            <div class="desc">
              <h4>Apple Macbook Pro</h4>
              <p>MacBook Pro, the high-performance laptop for everyone, features new quad-core processors, advanced discrete graphics, and high-speed input/output.</p>
            </div>
          </a>
        </div>
        <div class="item clearfix">
          <a href="#url" title="">
            <div class="image">
              <img src="<%= asset_path "fake-item-4.jpg" %>" alt="">
            </div>
            <div class="desc">
              <h4>Apple iMac</h4>
              <p>The new iMac features an ultrathin all-in-one design, beautiful widescreen display, the latest processors and graphics, and advanced storage options.</p>
            </div>
          </a>
        </div>
      </div>
      <a class="carousel-control left" href="#featured-items" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#featured-items" data-slide="next">&rsaquo;</a>
    </div>

    <div class="main-ad span4">
      <a href="#" title="">
        <img src="<%= asset_path "fake-ad-1.png" %>" alt="">
      </a>
    </div>
  </div>
  <div class=" row-fluid">
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-2.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>Apple iPhone 5</h4>
          <p class="price">$ 82.34</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-3.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>Apple Macbook Pro 13"</h4>
          <p class="price">$ 632.99</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-4.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>Apple iMac 21.5"</h4>
          <p class="price">$ 655.00</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
  </div>
  <div class=" row-fluid">
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-4.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>Apple iMac 27"</h4>
          <p class="price">$ 770.00</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-1.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>XBox 360 4GB Console</h4>
          <p class="price">$ 120.00</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-5.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>XBox 360 250GB Console</h4>
          <p class="price">$ 221.99</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
  </div>
  <div class="row-ad row-fluid">
    <a href="#">THIS IS AN ADVERTISEMENT</a>
  </div>

  <h3>Best Sellers This Month</h3>
  <div class="best-sellers row-fluid">
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-5.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-9.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-2.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
  </div>
  <div class="best-sellers row-fluid">
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-4.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-7.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-8.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
  </div>

  <h3>Related To Items You've Bid On</h3>
  <div class="rec rec-viewed row-fluid">
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-5.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-6.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-7.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
  </div>
  <div class="rec rec-viewed row-fluid">
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-6.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-7.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-5.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 123.45</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
  </div>

  <h3>Related To Items You've Viewed</h3>
  <div class="rec rec-viewed row-fluid">
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-8.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 222.33</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-9.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 222.33</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-10.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 222.33</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
  </div>
  <div class="rec rec-viewed row-fluid">
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-9.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 222.33</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-10.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 222.33</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
    <div class="home-item span4">
      <a href="#">
        <div class="image">
          <img src="<%= asset_path "fake-item-8.jpg" %>" alt="">
        </div>
        <div class="desc">
          <h4>This is the item's name</h4>
          <p class="price">$ 222.33</p>
          <p class="text">View Details &raquo;</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="float-ad">
  <h3>Advertisements 
    <button type="button" class="close"><em></em><!-- ×--></button>
  </h3>
  <div class="ad-content">
    <div class="ad">
      <a href="#">
        <img src="<%= asset_path "fake-ad-2.png" %>" alt="">
      </a>
    </div>
    <div class="ad">
      <a href="#">
        <img src="<%= asset_path "fake-ad-3.png" %>" alt="">
      </a>
    </div>
    <div class="ad">
      <a href="#">
        <img src="<%= asset_path "fake-ad-4.png" %>" alt="">
      </a>
    </div>
  </div>
</div>

<script>
(function() {
    var $slides = $('#featured-items');
    $slides.carousel({
        // interval: 3000
    });

    var $adc = $('.ad-content'),
        $ad = $adc.parent(),
        $close = $ad.find('.close'),
        $closeText = $close.find('em');

    if ($ad.hasClass('no-ad')) return;
    function anim() {
        if ($adc.hasClass('showed')) {
            $closeText.text('Show Ads');
            $adc.removeClass('showed');
        } else {
            $closeText.text('Close Ads');
            $adc.addClass('showed');
        }
    }
    setTimeout(anim, 1000);
    $close.click(function(e) {
        anim();
        e.preventDefault();
    });
}());
</script>

