<div class="price">
  <p class="curr">
    <span class="leftcol">Highest Bid: </span>
    <em class="rightcol"><%= number_to_currency max_price %></em>
  </p>
  <div class='last-bid' >
    <% if @bid_existing %>
    <p class="clearfix">
      <span class="leftcol">Your Bid:</span>
      <em class="rightcol">
        <%= number_to_currency @bid_existing.price %>
      </em>
    </p>
    <% end %>
    <!--
    <a href="#cancel-bid" class="cancel-req" data-toggle="modal">
      Request to cancel bid
    </a>
    -->
  </div>
  <%if Time.now<@item.end_time%>
    <p class="countdown">
      <span class="leftcol">Bid starts at: </span>
      <em class="rightcol"><%= @item.start_time.in_time_zone("Eastern Time (US & Canada)").strftime('%F %I:%M:%S %p')%></em>
    </p>
    <p class="countdown">
      <span class="leftcol">Bid ends at: </span>
      <em class="rightcol"><%= @item.end_time.in_time_zone("Eastern Time (US & Canada)").strftime('%F %I:%M:%S %p')%></em>
    </p>
	
	<p>
	<div id="jcountdown"></div>
	</p>
	
	
    <% if user_signed_in? %>
      <% if current_user.deactivated == true %>
        <span class="label-warning">You cannot place bid because your account is deactivated.</span>
      <% else %>
        <%=form_for(@bid, :url => bids_path, :method => :post, :builder => Judge::FormBuilder, :html => {:class => 'bid-form form-inline'}) do |f| %>
          <div class="field">
            <span class="leftcol">
              <%=f.text_field :price, :min => max_price, :validate => true, :as => :float, :class => 'input-small'%>
            </span>
            <%= f.hidden_field :item_id,{:value => @item.id} %>
            <%= f.hidden_field :expired_at,{:value => @item.end_time} %>
            <%= f.hidden_field :status,{:value =>1} %>
            <%= f.hidden_field :seller_id, {:value => @item.seller_id} %>
            <%= f.hidden_field :buyer_id, {:value => current_user.id} %>
            <!--% if @bid.price > @item.price%  , :data => { :confirm => "Bid placed successfully!"}-->
            <!--% @bid_existing=Bid.find_by_item_id_and_buyer_id(@item.id,current_user.id) %-->
            <% if @bid_existing.nil?%>
              <%= f.submit "Place Bid", class: "bid-btn btn btn-success" %>
            <%else%>
              <% if @bid_existing.cancel_request %>
                <%= f.submit "Place Bid", class: "bid-btn btn btn-success", disabled: 'disabled' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="cancel-bid">Your cancel request is pending.</span>
              <% else %>
                <%= f.submit "Place Bid", class: "bid-btn btn btn-success" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <% end %>
            <%end%>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <%else%>
    <strong>Bid end at: </strong><%= @item.end_time%>
  <%end%>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#jcountdown").countdown({
    htmlTemplate: " %d <span class='cd-time'>D</span> %h <span class='cd-time'>H</span> %i <span class='cd-time'>M</span> %s <span class='cd-time'>S</span>",
        
    //Date for the countdown
    date: "<%= @item.end_time.to_time.in_time_zone("Eastern Time (US & Canada)").strftime('%F %I:%M:%S %p') %>"
    //Labels for days/hours/minutes/seconds,
    //[ 'Days', 'Hours', 'Minutes', 'Seconds' ] by default
    //itemLabels: [ 'D', 'H', 'M', 'S' ]
  });
});

</script>
