<div class="list-container container">
  <div class="items box">
    <h2><%= yield :htitle %></h2>
    <% if @items.empty? %>
      <h3>Oops...</h3>
      <p>I tried so hard but I haven't found anything.</p>
    <% else %>
      <ul class="clearfix">
        <% @items.each do |item| %>
          <li class="item-grid">
            <a href="<%= url_for item %>" title="View item">
              <div class="item-img">
                <%= image_tag item.picture.url(:small) %>
              </div>
              <div class="item-info">
                <p class="name"><%= item.name %></p>
                <p class="price"><%= sprintf("%.2f", item.price) %></p>
              </div>
            </a>
          </li>
        <% end %>
      </ul>

      <div class="pagination pagination-centered">
        <% host = request.raw_host_with_port %>
        <% path = request.path %>
        <% # url = host + path %>
        <% if @keywords %>
          <% url = "#{path}?keywords=#{@keywords}&" if @keywords %>
        <% else %>
          <% url = "#{path}?" %>
        <% end %>
        <% total = @count / @items_per_page %>
        <% total = total + 1 if @count % @items_per_page != 0 %>
        <%= items_pagination url, @page, total, @items_per_page %>
      </div>
    <% end %>
  </div>
</div>

