<div class="item-container">
  <div class="item-detail box">
    <div class="basic clearfix">
      <div class="item-image">
        <div class="item-imgwrap">
          <%= image_tag @item.picture.url(:small), :class => 'img-polaroid' unless @item.picture.url.blank? %>
        </div>
      </div>
      <div class="item-info">
        <% if user_signed_in? %>
          <div class="watch-form-container">
            <%= render :partial => 'watch_lists/watch_list_form',
              :locals => { :item => @item } %>
          </div>
        <% end %>

        <h2><%= @item.name %></h2>

        <% if @item.bids and @item.bids.maximum(:price) %>
          <% max_price = @item.bids.maximum(:price) %>
        <% else %>
          <% max_price = @item.price %>
        <% end %>

        <% if @item.is_deleted %>
          <div class="price">
            <h3>Item is deleted.</h3>
          </div>
        <% else %>
          <% if !@item.is_sold %>
            <%= render :partial => 'items/available', :locals => {:max_price => max_price} %>
          <% else %>
            <%= render :partial => 'items/not_available', :locals => {:max_price => max_price} %>
          <% end %>
        <% end %>
        <div class="otherinfo">
          <p class="clearfix">
            <span class="pull-left">Condition:</span>
            <span class="pull-right"><%= @item.condition %></span>
          </p>
          <p class="clearfix">
            <span class="pull-left">Location:</span>
            <span class="pull-right"><%= @item.location %></span>
          </p>
          <p class="clearfix">
            <span class="pull-left">Category:</span>
            <span class="pull-right"><%= @item.category %></span>
          </p>
          <p class="clearfix">
            <span class="pull-left">Payment:</span>
            <span class="pull-right"><img src="http://pics.ebaystatic.com/aw/pics/logos/logoPayPal_51x14.gif" alt="PayPal"></span>
          </p>
        </div>
        <div class="seller">
          Seller info goes here...
        </div>
      </div>
    </div>
    <% if not @item.is_deleted %>
      <div class="item-actions">
        <%= link_to 'Edit', edit_item_path(@item), :class => 'btn' %>&nbsp;&nbsp;&nbsp;
        <% if @item.is_deleted %>
        <% elsif @item.delete_request %>
          <span href="#" class="cancel-bid">Your delete request is pending.</span>
        <% else %>
          <a href="#delete-item" class="cancel-req" data-toggle="modal">Request to delete listing</a>
        <% end %>
      </div>
      <form method="post" action="<%= item_delete_item_path(@item) %>">
        <input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"> 
        <input type="submit" value="[Test] Delete" class="btn btn-inverse">
      </form>
    <% end %>
    <div class="description">
      <h3>Description</h3>
      <div>
        <%= @item.description %>
      </div>
    </div>
  </div>

  <% if @item.is_deleted %>
    <div class="deleted_overlay"></div>
    <div class="deleted_overlay_text">
      This item is deleted <br> because it violates Maccha's TOS.
    </div>
  <% end %>
</div>

<div id="delete-item" class="cancel-dlg modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Delete Item</h3>
  </div>
  <form method="post" action="<%= url_for :controller => "items", :action => "apply_to_delete",
    :item_id => @item %>">
    <input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"> 
    <div class="control-group">
      <div class="controls">
        <label for="delete-reason">Reason for deleting listing: </label>
        <textarea id="delete-reason" name="delete_reason"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-inverse">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
      </div>
    </div>
  </form>
</div>

<% if not @bid_existing.nil? %>
<div id="cancel-bid" class="cancel-dlg modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Cancel Request</h3>
  </div>
  <form method="post" action="<%= url_for :controller => "bids", :action => "apply_to_cancel", :bid_id => @bid_existing %>">
    <input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden"> 
    <div class="control-group">
      <div class="controls">
        <label for="cancel-reason">Reason for cancelling your bid</label>
        <textarea id="cancel-reason" name="cancel_reason"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-inverse">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
      </div>
    </div>
  </form>
</div>
<% end %>

<script type="text/javascript">
(function() {
    var $btn = $('.bid-btn'),
        $price = $('#bid_price'),
        oldPrice = <%= max_price %>;
    $btn.click(function(e) {
        var price = parseFloat($price.val());
        if (!price) {
            alert('You have not placed a bid.');
            e.preventDefault();
            return;
        }
        price = Math.round(price * 100) / 100;
        if (price <= oldPrice) {
            alert('The bid has to be higher than current price.');
            e.preventDefault();
            return;
        }
        var msg = 'Your bid is $' + price + '. Are you sure?';
        if (!confirm(msg)) {
            e.preventDefault();
        }
    });
}());
//     $(document).ready(function() {
//         $("#bid_form").validate({
//             rules: {
// 
//                 "bid[price]":{
//                     required: true,
//                    // minlength: 7,
//                     equalTo: "@item.price"
//                 }
//             },
//             messages: {
// 
//                 "bid[price]":{
//                     required: "Required",
//                    // minlength: "Min Length is 7 characters",
//                     equalTo: "New Password Doesn't Match"
//                 }
//             }
//         });
//     });
// 
//     $(function() {
//         $("#p").hover(function() {
//             alert("Hello world!");
//         });
//     });
</script>
