<div class="item-container">
  <div class="item-detail box">
    <div class="basic clearfix">
      <div class="item-image">
        <div class="item-imgwrap">
          <%= image_tag @item.picture.url(:small), :class => 'img-polaroid' unless @item.picture.url.blank? %>
        </div>
      </div>
      <div class="item-info">
        <h2><%= @item.name %></h2>
        <div class="price">
          <p class="curr">
            <span class="leftcol">Current Price: </span>
            <em class="rightcol">$ <%= sprintf("%.2f", @item.bids.maximum(:price)) %></em>
          </p>
          <%if Time.now<@item.end_time%>
            <p class="countdown">
              <span class="leftcol">Bid starts at: </span><em class="rightcol"><%= @item.start_time%></em>
            </p>
            <p class="countdown">
              <span class="leftcol">Bid ends at: </span><em class="rightcol"><%= @item.end_time%></em>
            </p>
            <%=form_for(@bid, :builder => Judge::FormBuilder, :html => {:class => 'bid-form form-inline'}) do |f| %>
              <div class="field">
                <%=f.number_field :price, :min =>@item.price, :validate => true,:as => :number%>
                <%= f.hidden_field :item_id,{:value => @item.id} %>
                <%= f.hidden_field :seller_id, {:value => @item.seller_id} %>
                <%= f.hidden_field :buyer_id, {:value => current_user.id} %>
                <!--% if @bid.price > @item.price%  , :data => { :confirm => "Bid placed successfully!"}-->
                <%= f.submit "Place bid", class: "bid-btn btn btn-inverse",:html => {:id => "bid_form"} %>
              </div>
            <% end %>
            <p class="curr buyitnow">
              <span class="leftcol">Buy It Now Price: </span>
              <em>$ <%= sprintf("%.2f", 123.45) %></em>
            </p>
            <p class="curr buyitnow-btn">
              <span class="leftcol"></span>
              <a href="#" id="buyitnow" class="btn" title="">Buy It Now!</a>
            </p>
          <%else%>
            <strong>Bid end at: </strong><%= @item.end_time%>
          <%end%>
        </div>
        <div class="watch-form-container">
          <%= render :partial => 'watch_lists/watch_list_form', 
            :locals => { :item => @item } %>
        </div>
        <div class="otherinfo">
          <p class="clearfix">
            <span class="pull-left">Condition:</span>
            <span class="pull-right"><%= @item.condition %></span>
          </p>
          <p class="clearfix">
            <span class="pull-left">Location:</span>
            <span class="pull-right"><%= @item.location %></span>
          </p>
          <p class="clearfix">
            <span class="pull-left">Category:</span>
            <span class="pull-right"><%= @item.category %></span>
          </p>
          <p class="clearfix">
            <span class="pull-left">Payment:</span>
            <span class="pull-right"><img src="http://pics.ebaystatic.com/aw/pics/logos/logoPayPal_51x14.gif" alt="PayPal"></span>
          </p>
        </div>
        <div class="seller">
          Seller info goes here...
        </div>
      </div>
    </div>
    <div class="item-actions">
      <%= link_to 'Edit', edit_item_path(@item), :class => 'btn' %>&nbsp;&nbsp;&nbsp;
      <%= link_to 'Delete', item_path(@item), :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-danger' %>
    </div>
    <div class="description">
      <h3>Description</h3>
      <div>
        <%= @item.description %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
//     $(document).ready(function() {
//         $("#bid_form").validate({
//             rules: {
// 
//                 "bid[price]":{
//                     required: true,
//                    // minlength: 7,
//                     equalTo: "@item.price"
//                 }
//             },
//             messages: {
// 
//                 "bid[price]":{
//                     required: "Required",
//                    // minlength: "Min Length is 7 characters",
//                     equalTo: "New Password Doesn't Match"
//                 }
//             }
//         });
//     });
// 
//     $(function() {
//         $("#p").hover(function() {
//             alert("Hello world!");
//         });
//     });
</script>


<!-- -->
