<!DOCTYPE html>
<html>
  <head>
    <title>Maccha Maccha Maccha</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="row-fluid">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <span class="brand"><a href="/">Maccha</a></span>
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/items">Items</a></li>
            </ul>
            <%= render 'layouts/header' %>  
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

    <footer> </footer>

  </body>
</html>
