<!DOCTYPE html>
<html>
  <head>
    <title>Maccha Maccha Maccha</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="main-bd">
      <div class="main-container container">
      <!-- body -->
      <% if notice %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert"><%= alert %></div>
      <% end %>
      <% if flash[:success] %>
        <div class="alert alert-success"><%= flash[:success] %></div>
      <% end %>
      <%= yield %>
      </div>
    </div>

    <footer class="main-ft clearfix">
      <div class="container">
      <div class="copyright pull-left">&copy;2012 Maccha.</div>
      <div class="pull-right">The team members: Seetha, Ying, Yuki, Jiasi, and Yang.</div>
      </div>
    </footer>
  </div>
  </body>
</html>
